$background-page: #f8f8f8;
$background-tile: #ffffff;

$font-black: #333333;           // readable black
$font-gray: #6a6760;            // dark gray
$font-brand: #dc0062;           // hot pink for hotness
$font-link: #6a6760;            // dark gray
$font-link-active: #777777;     // lucky number gray
$font-white: #fefefe;           // off-white
