<section class="canvas-container-component">

  <!-- Collection UI -->
  <div [ngClass]="{ 'off-screen': !tileVisible('collectionSettings'), 'collection-settings': true }">
    <app-collection-settings
      (onHideClicked)="hideTile('collectionSettings')">
    </app-collection-settings>
  </div>
  <div [ngClass]="{ 'off-screen': tileVisible('collectionSettings'), 'show-collection-settings': true }">
    <app-off-screen-tab
      [iconName]="'fa-arrow-alt-circle-right'"
      (onShowClicked)="showTile('collectionSettings')">
    </app-off-screen-tab>
  </div>

  <!-- Layer UI -->
  <div [ngClass]="{ 'off-screen': !tileVisible('layerSettings'), 'layer-settings': true }">
    <app-layer-settings
      (onHideClicked)="hideTile('layerSettings')">
    </app-layer-settings>
  </div>
  <div [ngClass]="{ 'off-screen': tileVisible('layerSettings'), 'show-layer-settings': true }">
    <app-off-screen-tab
      [iconName]="'fa-arrow-alt-circle-left'"
      (onShowClicked)="showTile('layerSettings')">
    </app-off-screen-tab>
  </div>

  <!-- About UI -->
  <div [ngClass]="{ 'off-screen': !tileVisible('about'), 'about': true }">
    <app-about
      (onHideClicked)="hideTile('about')">
    </app-about>
  </div>
  <div [ngClass]="{ 'off-screen': tileVisible('about'), 'show-about': true }">
    <app-off-screen-tab
      [iconName]="'fa-question-circle'"
      (onShowClicked)="showTile('about')">
    </app-off-screen-tab>
  </div>

  <!-- Pocket Invitation Canvas -->
  <section>
    <app-pocket-invitation-canvas
      [pocketInvitation]="selectedInvitation">
    </app-pocket-invitation-canvas>
  </section>

</section>
