<section class="canvas-container-component">

  <!-- Collection UI -->
  <div [ngClass]="{ 'off-screen': !tileVisible('collectionSettings'), 'collection-settings': true }">
    <app-collection-settings
      [availableColors]="colors"
      [availableInvitations]="invitationsForType(selectedInvitationType)"
      [availableInvitationTypes]="invitationTypes"
      [selectedColor]="selectedInvitationColor"
      [selectedInvitation]="selectedInvitation"
      [selectedInvitationType]="selectedInvitationType"
      (onColorUpdated)="updateSelectedColor($event)"
      (onInvitationUpdated)="updateSelectedInvitation($event)"
      (onInvitationTypeUpdated)="updateSelectedInvitationType($event)"
      (onHideClicked)="hideTile('collectionSettings')">
    </app-collection-settings>
  </div>
  <div [ngClass]="{ 'off-screen': tileVisible('collectionSettings'), 'show-collection-settings': true }">
    <app-off-screen-tab
      [iconName]="'fas fa-cog'"
      (onShowClicked)="showTile('collectionSettings')">
    </app-off-screen-tab>
  </div>

  <!-- About UI -->
  <div [ngClass]="{ 'off-screen': !tileVisible('about'), 'about': true }">
    <app-about
      (onHideClicked)="hideTile('about')">
    </app-about>
  </div>
  <div [ngClass]="{ 'off-screen': tileVisible('about'), 'show-about': true }">
    <app-off-screen-tab
      [iconName]="'far fa-question-circle'"
      (onShowClicked)="showTile('about')">
    </app-off-screen-tab>
  </div>

  <!-- Invitation Canvas -->
  <section>
    <app-invitation-canvas
      [invitation]="selectedInvitation">
    </app-invitation-canvas>
  </section>

</section>
