@import "../../../assets/stylesheets/mixins/mixins.scss";

section.canvas-container-component {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 60px;
  width: 100%;

  > div {
    position: absolute;
    z-index: 100;

    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &.about {
      left: 20px;
      bottom: 80px;
      width: $about-width;

      &.off-screen {
        left: -100%;
      }
    }

    &.show-about {
      height: 40px;
      left: 20px;
      bottom: 80px;
      width: 40px;

      &.off-screen {
        left: -48px;
      }
    }

    &.collection-settings {
      left: 20px;
      top: 60px;
      width: $collection-settings-width;

      &.off-screen {
        left: -$collection-settings-width;
      }
    }

    &.show-collection-settings {
      height: 40px;
      left: 20px;
      top: 60px;
      width: 40px;

      &.off-screen {
        left: -48px;
      }
    }
  }

  > section {
    margin: 0 auto;
    max-height: 800px;
    max-width: 800px;
    
    @media (orientation: landscape) {
      height: calc(100vh - 80px);
      width: calc(100vh - 80px);
    }

    @media (orientation: portrait) {
      height: calc(100vw - 20px);
      width: calc(100vw - 20px);
    }
  }
}
