<section class="about-component">
  <header>
    <ul>
      <li>
        The <span>"Invitation Builder"</span> is meant to be a fun tool to help generate ideas for colors and let you see what's available, which will help us to have a more meaningful consultation.
      </li>
      <li>
        The physical product will look different!  (It'll be on beautiful paper, not a screen, and may have other variations as well).  Thank you for visiting, and we hope you enjoy (and share) our toy!
      </li>
    </ul>
  </header>
  <footer tabindex="0" (click)="hide()" (keyup.enter)="hide()">
    <i class="far fa-arrow-alt-circle-left"></i>
  </footer>
</section>
    