@import "../../../assets/stylesheets/mixins/mixins.scss";

section.collection-settings-component {
  background-color: $background-tile;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(70, 80, 100, 0.6);
  min-height: 200px;
  width: $collection-settings-width;

  > header {
    border-bottom: 1px solid $font-gray;
    padding: 8px 16px;
    
    @include title-font-style;

    > div {
      color: $font-brand;
      cursor: pointer;
      float: right;

      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: darken($font-brand, 10%);
      }

      > i {
        font-size: $huge;
      }
    }
  }
}
