<section class="collection-settings-component">
  <header>
    Invitation Settings
    <div tabindex="0" (click)="hide()" (keyup.enter)="hide()">
      <i class="far fa-arrow-alt-circle-left"></i>
    </div>
  </header>
  <ul>
    <li>
      <app-select-input
        [label]="'TYPE'"
        [options]="invitationTypeOptions()"
        [selectedOption]="selectedInvitationTypeOption()"
        [model]="selectedInvitationType"
        (modelChange)="invitationTypeOptionChanged($event)">
      </app-select-input>
    </li>
    <li>
      <app-select-input
        [label]="'STYLE'"
        [options]="invitationOptions()"
        [selectedOption]="selectedInvitationOption()"
        [model]="selectedInvitation"
        (modelChange)="invitationOptionChanged($event)">
      </app-select-input>
    </li>
    <li>
      <app-select-input
        [label]="'COLOR'"
        [options]="colorOptions()"
        [selectedOption]="selectedColorOption()"
        [model]="selectedColor"
        (modelChange)="colorOptionChanged($event)">
      </app-select-input>
    </li>
  </ul>
</section>
  